html {
    scroll-behavior: smooth;
}

body {
    background: black;
    font-family: monospace;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: calc(90% - 130px);
    margin-left: auto;
    margin-right: 5%;
}

@media(max-width:667px) {
    .container {
        width: 85%;
        margin: auto;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background: gray;
    height: 100%;
    width: 130px;
    z-index: 999;
}

@media(max-width:667px) {
    nav {
        width: 100%;
        height: fit-content;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
    }
}

@media(max-width:667px) {
    nav:hover {
        background: black;
    }
}

nav img {
    width: 100%;
}

@media(max-width:667px) {
    nav img {
        display: none;
    }
}

nav ul {
    margin-top: -5px;
}

@media(max-width:667px) {
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
}

nav ul li {
    transition: 0.5s;
    list-style-type: none;
}

nav ul li:first-child {
    background: black;
}

@media(max-width:667px) {
    nav ul li:first-child {
        background: none;
    }
}

nav ul li:first-child:hover {
    background: gainsboro;
}

nav ul li:hover {
    background: black;
}

@media(max-width:667px) {
    nav ul li:hover {
        background: gainsboro;
    }
}

nav li a i {
    font-size: 30px !important;
    ;
    margin-bottom: 10px;
    color: white;
}

@media(max-width:667px) {
    nav li a i {
        font-size: 0 !important;
    }
}

nav li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

@media(max-width:667px) {
    nav ul li:hover a {
        color: black;
    }
}

@media(max-width:667px) {
    nav ul li a {
        margin: 0;
        padding: 10px 20px;
        flex-direction: row;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
    }
}

header {
    text-align: center;
    color: white;
}

header h1 {
    text-transform: capitalize;
    font-size: 60px;
    margin-top: 60px;
}



@media(max-width:667px) {
    header h1 span {
        display: none;
    }
}

header p {
    font-size: 20px;
}

@media(max-width:667px) {
    header p {
        line-height: 1.5;
        font-size: 18px;
    }
}

header img {
    width: 100%;
    margin-top: 30px;
}

#about {
    color: white;
    margin-top: 50px;
}

#about .name h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
    width: fit-content;
    padding: 10px 50px 20px 0;
    border-bottom: 1px solid white;
}

#about .name p {
    color: gray;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    line-break: anywhere;
}

.skills {
    margin-top: 30px;
}

.skills h2 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.skills-content .box {
    margin-bottom: 35px;
}

.skills-content .box .box-name {
    font-size: 15px;
    letter-spacing: 4px;
    color: gray;
    display: block;
    margin-bottom: 15px;
}

.skills-content .photo-div {
    width: 100%;
    height: 25px;
    background: white;
}

.skills-content .photo-div .photo-span {
    height: 100%;
    background: gray;
    display: block;
}

.skills-footer {
    display: flex;
    justify-content: space-evenly;
    background: white;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
}

@media(max-width:667px) {
    .skills-footer {
        flex-direction: column;
        gap: 30px;
    }
}

.skills-footer .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-footer .num {
    /*     text-align: center; */
    font-size: 25px;
    margin-bottom: 5px;
}

.skills-footer .after-num {
    text-transform: capitalize;
    font-size: 14px;
}

.skills button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
    border: none;
    transition: 0.5s;
}

.price {
    margin-top: 30px;
    margin-bottom: 30px;
}

.price h2 {
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 20px;
}

.price .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.price .box {
    background: gray;
    color: white;
    width: 450px;
    margin: auto;
    text-align: center;
    transition: 0.5s;
}

.price .box:hover {
    background: white;
    color: black;
}

.price .box:hover.box span {
    border-color: black;
}

.price .box:hover.box .Pro, .price .box:hover .bas {
    background: gray;
    color: white;
}

.price .box span {
    display: block;
    padding: 20px 10px;
    font-size: 18px;
    border-bottom: 1px solid gainsboro;
    text-transform: capitalize;
}

.price .box .bas, .price .box .Pro {
    background: white;
    color: black;
    font-size: 28px;

}

.price .price {
    margin: 0;
    border-bottom: none !important;
    font-size: 28px !important;
    padding-top: 20px;
    padding-bottom: 0 !important;
}


.price button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background: white;
    color: black;
    transition: 0.5s;
}

.price .box:hover button {
    background: gray;
    color: white;
}

.price .box button:hover {
    background: black;
    color: white;
}

.MyReputation {
    margin-top: 50px;
}

.MyReputation h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.MyReputation .box {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 50px;
    font-size: 15px;
    color: gray;
}

@media(max-width:667px) {
    .MyReputation .box {
        flex-direction: column;
        gap: 30px;
        font-size: 13px;
    }
}

.MyReputation .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.MyReputation .box span:not(span:first-child) {
    display: block;
    line-height: 4;
}

.MyReputation .box span:first-child {
    margin-right: 20px;
}

/* start photos */
#photos {
    margin-top: 100px;
}

#photos h2 {
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
    width: fit-content;
    padding: 0px 50px 20px 0px;
    border-bottom: 1px solid white
}

#photos .photo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


#photos .photo .image {
    width: 48%;
    height: 100%;
}

@media(max-width:667px) {
    #photos .photo .image {
        width: 100%;
    }
}

#photos .photo img {
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
}

@media(max-width:667px) {
    #photos .photo img {
        width: 100%;
    }
}

#contact {
    margin-top: 50px;
    color: white;
}

#contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#contact .info {
    margin-bottom: 50px;
    font-size: 17px;
    color: gray;
}

#contact .info .box {
    margin-bottom: 20px;
}

#contact .box i {
    font-size: 35px;
    color: white;
    margin-right: 5px;
}

#contact form {
    width: 95%;
}

#contact form p {
    margin-bottom: 15px;
    color: gray;
    font-size: 16px;
}

#contact form input {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 10px;
    border: none;
}

#contact form input::placeholder {
    font-size: 17px;
}

#contact button {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: capitalize;
}

footer {
    font-size: 20px;
    color: gray;
    margin-bottom: 50px;
    margin-top: 100px;
}

footer i {
    color: gray;
}

footer p {
    margin-top: 10px;
    text-transform: capitalize;
}